<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- client.config.website.botname %></title>
  <link rel="shortcut icon" href="<%- client.config.website.botavatar %>" type="image/x-icon">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <h1>
    <%- client.config.website.botname %>
  </h1>
  <p>
    <%- client.config.website.botdesc %>
  </p>
  <div>
    <a href="<%- client.config.website.discordinvite %>">
      Discord Server
    </a>
    <a href="<%- client.config.website.mainwebsite %>">
      Main Website
    </a>
  </div>
</body>

</html>